<div class="row">
    <div class="col-sm-6 col-xs-12">
        <b>Value 1  </b>
        <input type="range" name="points" min="0" max="10" [(ngModel)]="newValue_1" >
    </div>
    {{ newValue_1 }}
    <div class="col-sm-6 col-xs-12">
        <b>Value 2</b>
        <input type="range" name="points" min="0" max="10"  [(ngModel)]="rangeValue_2">
    </div>
    {{ rangeValue_2 }}
</div>

<div class="row">
    <div class="col-sm-6 col-xs-12">
        <b>Value 3</b>
        <input type="range" name="points" min="0" max="10"  [(ngModel)]="rangeValue_3" >
    </div>
    {{ rangeValue_3 }}
    <div class="col-sm-6 col-xs-12">
        <b>Value 4</b>
        <input type="range" name="points" min="0" max="10"  [(ngModel)]="rangeValue_4" >
    </div>
    {{ rangeValue_4 }}
</div>